<p>
    This <b>payload design</b> has <b>the</b> scientific community as the priority stakeholders. This <b>design
    <i>can</i></b> be used by student clubs designing CubeSats to launch yeast experiments into space. Other research
    based groups such as AstroYeast will benefit from this design as they will be able to study <i><b>different</b></i>
    yeast strains in space for an affordable price. Furthermore, the results from these experiments will
    benefit all of humanity as they may pave the way for better waste management techniques, medicine, and
    construction materials.
</p>
<p>
    Some of the <i>competitors</i> for this <i>project include</i>: Space Agencies that provide custom space
    experiment platforms, <i><b>NanoRacks</b></i> which provides a testing platform aboard the International Space
    Station,
    and pharmaceutical companies capable of financing the design and development of a space experiment
    platform for medical solutions.
</p>
